<h2 class="mb-3">Edit <%= resource_name.to_s.humanize %> Account Details</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render 'devise/shared/error_messages', resource: resource %>

  <hr>
  <div class="input-group mb-3 w-50">
  <span class="input-group-text"><%= f.label :password %>
  </span>
    <%= f.password_field :password, autocomplete: "new-password", :placeholder => "New password", :class => "form-control" %>
    <% if @minimum_password_length %>
      <br>
    <% end %>
    <div class="input-group">
      <div class="form-text">(leave blank if you don't want to change it) - <%= @minimum_password_length %> characters
        minimum
      </div>
    </div>
  </div>

  <div class="input-group mb-3 w-50">
  <span class="input-group-text"><%= f.label :password_confirmation %>
  </span>
    <%= f.password_field :password_confirmation, autocomplete: "new-password", :placeholder => "New password confirmation", :class => "form-control" %>
  </div>
  <hr>
  <div class="input-group mb-3 w-50">
  <span class="input-group-text"><%= f.label :current_password %> 
  </span>
    <%= f.password_field :current_password, :placeholder => "Current password", :class => "form-control" %>
    <div class="input-group">
      <div class="form-text">(we need your current password to confirm your changes)</div>
    </div>
  </div>

  <div class="mb-3">
    <%= f.submit "Update", :class => "btn btn-primary" %>
    <%= link_to "Back", :back, :class => "btn btn-link" %>
  </div>
<% end %>
<hr>
<div><%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete, :class => "btn btn-danger" %>
</div>

