<%# unless comment.archived? %>
<ul class="list-group list-group-flush w-50">
<li class="list-group-item">
  <p>
    <strong>User:</strong>
  <%= comment.commenter%>
</p>

<p>
  <strong>Comment:</strong>
  <%= comment.body%>
</p>

<p class="timestamp">
  <u>Created on:</u> <%= comment.created_at.strftime("%d %b %y %H:%M:%S") %> 
  <u>Updated on:</u> <%= comment.updated_at.strftime("%d %b %y %H:%M:%S") %>
</p>
<p>
  <%= link_to "Edit", edit_article_comment_path(comment.article, comment), :class => "link-primary link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover me-3" %>
  <%= link_to "Delete", [comment.article, comment], :class => "link-danger link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover", data: {
    turbo_method: :delete,
    turbo_confirm: "Are you sure?"
  } %>
</p>
</li>
</ul>
<hr>

<%# end %>