<h2>Welcome <%= current_user.email %></h2>
<% if current_user %>

  <p>You have successfully signed in!</p>
  <p>Your user role is: <%= current_user.role %></p>

  <% if current_user.admin? %>
    <p>There are <%= User.count %> users on the platform</p>
  <% end %>

  <%= link_to "Sign out", destroy_user_session_path, 'data-turbo-method': :delete %>

<% else %>

  <p>You are not signed in.</p>
  <%= link_to "Sign up", new_user_registration_path %> |
  <%= link_to "Log in", new_user_session_path %>
<% end %>