<div class="d-flex flex-column">
  <% if current_user %>
    <h2>Welcome <%= current_user.email %></h2>
    <h2><%= current_user.username %></h2>

    <p>You have successfully signed in!</p>
    <p>Your user role is: <%= current_user.role %></p>

    <% if current_user.admin? %>
      <p>There are <%= User.count %> users on the platform</p>
    <% end %>
    <%= link_to "Edit account details", edit_user_registration_path %>
  <% end %>
</div>