<h1>All Articles</h1>

<lead><%= display_article_count_string %></lead>

<ul class="list-group list-group-flush w-50">
  <% @articles.each do |article| %>
    <% unless article.archived? %>
      <li class="list-group-item">
        <%= link_to article.title, article %> by: <%= article.user.username %>
      <span class="badge rounded-pill text-bg-warning">
        <%= pluralize(article.comments.count, "comment") %>
      </span>
      <span class="badge rounded-pill text-bg-warning">
        <%= pluralize(article.views, "View") %>
      </span>
      </li>
    <% end %>
  <% end %>
</ul>