<h1>All Articles</h1>

<% if current_user %>
  <p>Hello <%= current_user.email %></p>
  <p>You have successfully signed in!</p>
  <%= link_to "Sign out", destroy_user_session_path, 'data-turbo-method': :delete %>
<% else %>
  <p>You are not signed in.</p>
  <%= link_to "Sign up", new_user_registration_path %> |
  <%= link_to "Log in", new_user_session_path %>
<% end %>
<br>

<%= display_article_count_string %>

<ul>
  <% @articles.each do |article| %>
    <% unless article.archived? %>
      <li>
        <%= link_to article.title, article %>
      </li>
    <% end %>
  <% end %>
</ul>