<h1 class="display-6"><%= @article.title %></h1>

<p><%= @article.body %></p>

<ul class="ps-0">
  <li class="list-unstyled"> <%= link_to "Edit", edit_article_path(@article), :class => "link-primary link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover me-3" %>
    <%= link_to "Delete", article_path(@article), :class => "link-danger link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover",
    data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
  </li>
</ul>
<p class="timestamp">
  <u>Created on:</u> <%= @article.created_at.strftime("%d %b %y %H:%M:%S") %> 
  <u>Updated on:</u> <%= @article.updated_at.strftime("%d %b %y %H:%M:%S") %>
</p>
<br>
<br>

<h2><u>Comments</u></h2>
<%= render @article.comments %>

<h3>Add a comment</h3>
<%= render 'comments/form' %>