<h2>Forgot your password?</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="input-group mb-3 w-50">
  <span class="input-group-text"><%= f.label :email %>
    </span>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="mb-3">
    <%= f.submit "Send me reset password instructions", :class => "btn btn-light" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
